<div class="dashboard-page-container">
  <div class="conversations">
    <h3>Conversations:</h3>

    <div style="margin: 10px 0;" class="sub-line"></div>
    <input nz-input placeholder="Search for a conversation" nzSize="large" />

    <nz-tabset>
      <nz-tab nzTitle="Before arrival">
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Arrivals">
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="On stay">
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="Departures">
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="After departure">
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
        <div class="conversation">
          <nz-avatar [nzSize]="36" nzIcon="user"></nz-avatar>

          <div style="display: flex;flex-direction:column;margin-left: 20px;">
            <h3 class="room-name">John Doe</h3>
            <p class="message-body">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>

    <a class="link-btn" style="margin-top: 20px;">
      See all conversations
    </a>

  </div>


  <div class="small-cards-container">
    <div class="small-card">
      <div>
        <h3 class="label-title">Check-ins today:</h3>
        <p class="counter">25/45</p>
        <div style="display: flex; flex-direction: row; align-items: center;">
          <p class="detail" (click)="modifyItemEvent()">See the list</p>
        </div>
      </div>
      <div class="icon-badge">
        <img src="/assets/exit.png" />
      </div>
    </div>
    <div class="small-card">
      <div>
        <h3 class="label-title">Check-outs today:</h3>
        <p class="counter">23/33</p>
        <div style="display: flex; flex-direction: row; align-items: center;">
          <p class="detail" (click)="modifyItemEvent()">See the list</p>
        </div>
      </div>
      <div class="icon-badge">
        <img src="/assets/user.png" />
      </div>
    </div>
    <div class="graph-container">
      <div class="pie-container">
        <ejs-accumulationchart width="250px" height="250px" class="chart" id="chart-container2">
          <e-accumulation-series-collection>
            <e-accumulation-series [palettes]='palette' [dataSource]='piedata2' xName='x' yName='y'
              [dataLabel]='datalabel'>
            </e-accumulation-series>
          </e-accumulation-series-collection>
        </ejs-accumulationchart>`
        <div class="legendContainer">
          <div class="legendRow">
            <div class="legendBg" style="background-color:#F9C151">
            </div>
            <p class="legendTitle">
              Checked in online
            </p>
          </div>
          <div class="legendRow">
            <div class="legendBg" style="background-color:#00bdaed9">
            </div>
            <p class="legendTitle">
              Checked out online
            </p>
          </div>
          <div class="legendRow">
            <div class="legendBg" style="background-color:#F57408">
            </div>
            <p class="legendTitle">
              Checked out offline
            </p>
          </div>
          <div class="legendRow">
            <div class="legendBg" style="background-color:#000000d9">
            </div>
            <p class="legendTitle">
              Checked in offline
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rooms">
    <h3>Rooms in Tusity WOW:</h3>
    <div style="margin: 15px 0px" class="sub-line"></div>
    <input nz-input placeholder="Search for a room" nzSize="large" />

    <div class="rooms-container">
      <div class="room">
        <div style="display: flex;flex-direction:column">
          <h3 class="room-name">Room 7370</h3>
        </div>
        <div class="btn-row-rooms">
          <button nz-button nzType="default">Open door</button>
          <button nz-button nzType="text" class="details-btn" (click)="openReservationsSlide()">See details</button>
        </div>
      </div>

      <div class="room">
        <div style="display: flex;flex-direction:column">
          <h3 class="room-name">Room 7371</h3>
        </div>
        <div class="btn-row-rooms">
          <button nz-button nzType="default">Open door</button>
          <button nz-button nzType="text" class="details-btn" (click)="openReservationsSlide()">See details</button>
        </div>
      </div>
      <div class="room">
        <div style="display: flex;flex-direction:column">
          <h3 class="room-name">Room 7372</h3>
        </div>
        <div class="btn-row-rooms">
          <button nz-button nzType="default">Open door</button>
          <button nz-button nzType="text" class="details-btn" (click)="openReservationsSlide()">See details</button>
        </div>
      </div>
      <div class="room">
        <div style="display: flex;flex-direction:column">
          <h3 class="room-name">Room 7373</h3>
        </div>
        <div class="btn-row-rooms">
          <button nz-button nzType="default">Open door</button>
          <button nz-button nzType="text" class="details-btn" (click)="openReservationsSlide()">See details</button>
        </div>
      </div>
    </div>


    <a class="link-btn">
      See all rooms
    </a>

  </div>

  <div class="graph-container">
    <div class="pie-container">
      <h2>Cleaning:</h2>
      <ejs-accumulationchart width="250px" height="250px" class="chart" id="chart-container">
        <e-accumulation-series-collection>
          <e-accumulation-series [palettes]='palette' [dataSource]='piedata' xName='x' yName='y'
            [dataLabel]='datalabel'>
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>`
      <div class="legendContainer">
        <div class="legendRow">
          <div class="legendBg" style="background-color:#F9C151">
          </div>
          <p class="legendTitle">
            Cleaned
          </p>
        </div>
        <div class="legendRow">
          <div class="legendBg" style="background-color:#00bdaed9">
          </div>
          <p class="legendTitle">
            Dirty
          </p>
        </div>
        <div class="legendRow">
          <div class="legendBg" style="background-color:#000000d9">

          </div>
          <p class="legendTitle">
            Inspected
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-guest-coming-slide></app-guest-coming-slide>
  <app-reservations-slide></app-reservations-slide>

</div>
