<div style="height: 100%; width: 100%; display: flex; flex-direction: column; row-gap: 20px; padding: 30px;">

  <div style="flex: 0 0 auto;">
    <div class="page-title">
      {{ 'KIOSK.BROWSER_ACTIVATION.TITLE' | translate }}
    </div>
  </div>

  <div style="flex: 1 1 auto;">
    <app-table [(loading)]="loading" [data]="dataTable" [headers]="headersTable" (clickItemEvent)="onClickItem($event)"
               [clickItemEventAviable]="false" [canCheckAll]="false" nameVariableId="kiosk_id"
               [buttonsHeader]="buttonsHeaderTable" [canCheckItem]="true"
               (updatePaginationEvent)="updatePaginationEvent($event)">
    </app-table>
  </div>
</div>

<app-kiosk-activate-modal (acceptEvent)="acceptEventActivateModal()"></app-kiosk-activate-modal>
