.drawerContainer {
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.tableContainer {
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.drawer {
  background-color: #e7e7eb !important;
}

.left-col {
  flex: 1;
  height: 100%;
}

.right-col {
  flex: 1;
  background-color: white;
  height: 100%;
  padding: 1.5em;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
  border: none;
}

.undo-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.conversation-wrap {
  height: 100%;
  width: 100%;
  padding: 1.7em;
  display: flex;
  flex-direction: column;

}

.message-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.time-message {
  font-size: 12px;
  position: absolute;
  bottom: -8px;
  right: 10px;
}
.message {
  position: relative;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
  padding: 20px;
  color: black;
  background-color: white;
  margin: 10px 0;
  min-width: 300px;
  max-width: 500px;
  min-height: 50px;
}

.sent-wrap {
  align-self: flex-end;
}

.sent{
  background-color: #F9C151;
  color: white;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-box {
  padding: 1.5em;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
  border: none;
  margin-top: 10px;
}
